<template>
  <div class="grid grid-cols-12 px-12 py-6 gap-6">
    <div class="col-span-6">
      <div>
        <InputText type="text"
                   v-model="namePage" />
      </div>
      <div>
        <Textarea class="w-full mt-3"
                  v-model="jsonData"
                  rows="5"
                  cols="30" />
      </div>
      <Button label="Parse Model"
              @click="runTool(jsonData, namePage)" />
    </div>

    <div class="col-span-6">
      <pre><code class="text-xs">{{ result }}</code></pre>
    </div>
  </div>
</template>

<script setup lang="ts">
import { ref } from 'vue';
const jsonData = ref();
const namePage = ref('');

const result = ref();

const inputJSON = {
  "data": {
    "NexusSalesServiceGetCustomer": {
      "customer": {
        "customerType": "CUSTOMER_TYPE_COMPANY",
        "name": "qqqq",
        "phone": "0976579731",
        "email": "nam@gmail.com",
        "website": "nam.com.vn",
        "notes": null,
        "isVip": true,
        "id": {
          "asString": "484345285099651073"
        }
      }
    }
  }
};

function runTool(json: any, namePage: string) {
  result.value = generateTypeScriptCode(JSON.parse(json), namePage);
}

// Test the tool

const output = generateTypeScriptCode(inputJSON, "CustomerDetail");
console.log(output);


function generateTypeScriptCode(json: any, rootName: any) {
  const codeLines: any[] = [];
  const processedClasses: any[] = [];

  function getClassName(prefix: any, key: any) {
    return `${prefix}_${key}`;
  }

  function processNode(node: any, prefix: any) {
    for (const key of Object.keys(node)) {
      const value = node[key];
      if (Array.isArray(value)) {
        if (value.length > 0 && typeof value[0] === 'object') {
          processNode(value[0], getClassName(prefix, key));
        }
      } else if (value && typeof value === 'object') {
        processNode(value, getClassName(prefix, key));
      }
    }
    if (!processedClasses.includes(prefix)) {
      processedClasses.push(prefix);
      generateClass(prefix, node);
    }
  }

  function generateClass(className: any, node: any) {
    codeLines.push(`@JsonObject('${className}')`);
    codeLines.push(`export class ${className} {`);
    for (const key of Object.keys(node)) {
      const value = node[key];
      if (Array.isArray(value)) {
        if (value.length > 0 && typeof value[0] === 'object') {
          const elementClassName = getClassName(className, key);
          codeLines.push(`  @JsonProperty('${key}', [${elementClassName}], true)`);
          codeLines.push(`  ${key}: ${elementClassName}[] = [];`);
        } else {
          codeLines.push(`  @JsonProperty('${key}', [${typeof value[0]}], true)`);
          codeLines.push(`  ${key}: ${typeof value[0]}[] = [];`);
        }
      } else if (value && typeof value === 'object') {
        const fieldClassName = getClassName(className, key);
        codeLines.push(`  @JsonProperty('${key}', ${fieldClassName})`);
        codeLines.push(`  ${key} = new ${fieldClassName}();`);
      } else {
        let type = typeof value;
        let defaultValue = '';
        if (value === null) {
          type = "Any" as any;
          defaultValue = 'undefined';
        } else if (type === 'string') {
          defaultValue = `''`;
        } else if (type === 'number') {
          defaultValue = '0';
        } else if (type === 'boolean') {
          defaultValue = 'false';
        }
        codeLines.push(`  @JsonProperty('${key}', ${type.charAt(0).toUpperCase() + type.slice(1)}, true)`);
        codeLines.push(`  ${key} = ${defaultValue};`);
      }
    }
    codeLines.push('}\n');
  }

  processNode(json, rootName);
  return codeLines.join('\n');
}
</script>
